<% title 'Resend Confirmation Instructions' %>

<div class="formWrapper formWrapper--guest">
  <%= form_for(resource, as: resource_name, url: resend_confirmation_path, html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="formWrapper__field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 
    </div>

    <div class="formWrapper__actions">
      <%= f.submit 'Resend Instructions' %>
    </div>
  <% end %>
</div>

<%= render "users/shared/links" %>
