<% title t('assessment.instructor.titles.configuring') %>

<%= form_for @assessment, url: @assessment.new_record? ? create_assessment_path : edit_assessment_path(@assessment) do |af| %>
  <div class="left left--thirty">
    <div class="box">
      <h3 class="box__title"><%= t 'assessment.instructor.titles.general_info' %></h3>
      <div class="box__content">
        <p><%= t 'assessment.instructor.messages.general_info' %></p>
      </div>
      <div class="box__actions">
        <%= af.submit class: 'button' %> <%= link_to t('general.buttons.cancel'), root_path, class: 'button button--cancel' %>
      </div>
    </div>
  </div>
  <div class="right right--seventy">
    <% if @assessment.errors.any? %>
      <div class="message message--alert">
        <p><%= t('general.messages.there_were_errors') %></p>
        <ul>
        <% @assessment.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="box">
      <h2 class="box__title"><%= t 'assessment.instructor.titles.creating' %></h2>
      <div class="box__form">
        <div class="form__field">
          <div class="field__label"><%= af.label :name %></div>
          <div class="field__input"><%= af.text_field :name %></div>
        </div>
        <div class="form__field">
          <div class="field__label"><%= af.label :description %></div>
          <div class="field__input"><%= af.text_area :description %></div>
        </div>
        <div class="form__field">
          <div class="field__label"><%= af.label :submit_limit %></div>
          <div class="field__input">
            <%= af.number_field :submit_limit, value: @assessment.submit_limit || 0, class: 'short' %>
            <div class="field__description"><%= t 'assessment.instructor.descriptions.max_submits' %></div>
          </div>
        </div>
        <div class="form__field">
          <div class="field__label"><%= af.label :specs_file %></div>
          <div class="field__input">
            <%= af.file_field :specs_file %>
            <% if not af.object.specs_file.url.nil? %><div class="field__description"><%= t 'general.descriptions.leave_blank_to_not_change', value: File.basename(af.object.specs_file.url) %></div><% end %>
          </div>
        </div>
        <div class="form__field">
          <div class="field__label"><%= af.label :due_date %></div>
          <div class="field__input"><%= af.datetime_select :due_date, default: 7.days.from_now, ampm: true, order: [:month, :day, :year] %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearBoth"></div>
<% end %>
