<% title @assessment.name %>
<% description @assessment.description %>

<div class="left left--thirty">
  <div class="box box--dark">
    <h3 class="box__title"><%= t 'assessment.instructor.titles.information' %></h3>
    <div class="box__content">
      <dl class="dataTable dataTable--keyValue">
        <dt><%= t 'assessment.instructor.labels.specs_file' %></dt>
        <dd><%= link_to t('assessment.instructor.buttons.download'), assessment_specs_path(@assessment) %></dd>
        <dt><%= t 'assessment.instructor.labels.due_date' %></dt>
        <dd><%= (not @assessment.due_date.nil?) ? l(@assessment.due_date, format: :due_date) : t('assessment.instructor.defaults.no_due_date') %></dd>
        <dt><%= t 'assessment.instructor.labels.allowed_submits' %></dt>
        <dd><%= @assessment.submit_limit > 0 ? @assessment.submit_limit : t('assessment.instructor.defaults.unlimited_submits') %></dd>
      </dl>
      <p><%= link_to t('assessment.instructor.buttons.edit'), edit_assessment_path(@assessment), class: 'button button--block' %></p>
    </div>
    <h4 class="box__title"><%= t 'assessment.instructor.titles.test_drivers' %></h4>
    <% if @assessment.test_drivers.length > 0 %>
      <div class="box__rows">
        <% @assessment.test_drivers.each do |td| %>
          <div class="box__row box__rows--halves">
            <div class="box__row__part"><%= File.basename td.file.url %></div>
            <div class="box__row__part textRight"><%= link_to t('assessment.instructor.buttons.manage_test_driver'), edit_test_driver_path(td), class: 'button button--small' %></div>
          </div>
        <% end %>
      </div>
    <% else %>
    <div class="box__content">
      <p class="message message--warning"><%= t 'assessment.instructor.messages.no_test_drivers' %></p>
    </div>
    <% end %>
    <div class="box__actions">
      <p><%= link_to t('assessment.instructor.buttons.add_test_driver'), add_test_driver_path(@assessment), class: 'button button--block button--create' %></p>
    </div>
  </div>
  <div class="box box--dark">
    <h3 class="box__title"><%= t 'assessment.instructor.titles.grades' %></h3>
    <div class="box__content">
      <p><%= t 'assessment.instructor.messages.grades' %></p>
      <p><%= link_to t('assessment.instructor.buttons.view_grades'), view_final_grades_path(@assessment), class: 'button button--block' %></p>
    </div>
  </div>
</div>
<div class="right right--seventy">
  <div class="box">
    <h2 class="box__title"><%= t 'assessment.instructor.titles.submissions' %></h2>
    <p class="box__content"><%= t 'assessment.instructor.messages.review_notice' %></p>
    <div class="box__content box__content--tabs">
      <ul class="tabs__nav">
        <li class="tabs__button"><%= t('assessment.instructor.buttons.unreviewed_submissions') %></li>
        <li class="tabs__button"><%= t('assessment.instructor.buttons.reviewed_submissions') %></li>
      </ul>
      <div class="tabs__content tabs__content--noPad">
        <% if @unreviewed_submissions.length > 0 %>
          <div class="box__rows">
            <% @unreviewed_submissions.each do |s| %>
              <div class="box__row box__row--thirds">
                <div class="box__row__part"><%= s.user.full_name %></div>
                <div class="box__row__part"><%= t 'assessment.instructor.values.grade', achieved: s.grade, maximum: @assessment.points %><% if not s.grade_approved %> <em class="smallText">(<%= t 'assessment.instructor.messages.grade_not_approved' %>)</em><% end %></div>
                <div class="box__row__part textRight"><%= link_to t('assessment.instructor.buttons.review'), submission_review_path(s), class: 'button button--small' %></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="box__content">
            <p><%= t 'assessment.instructor.messages.no_submissions' %></p>
          </div>
        <% end %>
      </div>
      <div class="tabs__content tabs__content--noPad">
        <% if @reviewed_submissions.length > 0 %>
          <div class="box__rows">
            <% @reviewed_submissions.where(grade_approved: true).each do |s| %>
              <div class="box__row box__row--thirds">
                <div class="box__row__part"><%= s.user.full_name %></div>
                <div class="box__row__part"><%= t 'assessment.instructor.values.grade', achieved: s.grade, maximum: @assessment.points %><% if not s.grade_approved %> <em class="smallText">(<%= t 'assessment.instructor.messages.grade_not_approved' %>)</em><% end %></div>
                <div class="box__row__part textRight"><%= link_to t('assessment.instructor.buttons.review'), submission_review_path(s), class: 'button button--small' %></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="box__content">
            <p><%= t 'assessment.instructor.messages.no_submissions' %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="clearBoth"></div>
