<h1><%= @driver.new_record? ? 'Create New Test Driver' : 'Edit Test Driver'%></h1>

<%= form_for @driver, :url => @driver.new_record? ? create_test_driver_path : edit_test_driver_path(@driver) do |f| %>
	<%= f.label(:name) %>
	<%= f.text_field(:name) %>
	<br>

	<%= f.label(:points, 'Points') %>
	<%= f.number_field(:points) %>
	<br>

	<%= f.label(:file, 'File') %>
	<%= f.file_field(:file) %>

	<%= f.submit %>
<% end %>