<% title t('test_driver.instructor.titles.managing') %>

<%= form_for @test_driver, url: @test_driver.new_record? ? add_test_driver_path(@assessment) : edit_test_driver_path(@test_driver) do |tdf| %>
  <div class="left left--thirty">
    <div class="box">
      <h3 class="box__title"><%= t 'test_driver.instructor.titles.information' %></h3>
      <div class="box__content">
        <p><%= t 'test_driver.instructor.messages.information' %></p>
      </div>
      <div class="box__actions">
        <%= tdf.submit t('test_driver.instructor.buttons.save'), class: 'button' %> <%= link_to t('general.buttons.cancel'), root_path, class: 'button button--cancel' %>
      </div>
    </div>
  </div>
  <div class="right right--seventy">
    <% if @test_driver.errors.any? %>
      <div class="message message--alert">
        <p><%= t('general.messages.there_were_errors') %></p>
        <ul>
        <% @test_driver.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="box">
      <h2 class="box__title"><%= @test_driver.new_record? ? t('test_driver.instructor.titles.creating') : t('test_driver.instructor.titles.updating') %></h2>
      <div class="box__form">
        <div class="form__field">
          <div class="field__label"><%= tdf.label :file %></div>
          <div class="field__input">
            <%= tdf.file_field :file %>
            <% if not tdf.object.file.url.nil? %><div class="field__description"><%= t 'general.descriptions.leave_blank_to_not_change', value: File.basename(tdf.object.file.url) %></div><% end %>
          </div>
        </div>
        <div class="form__field">
          <div class="field__label"><%= tdf.label :points %></div>
          <div class="field__input"><%= tdf.number_field :points, class: 'short' %></div>
        </div>
        <div class="form__field">
          <div class="field__label"><%= tdf.label :downloadable %></div>
          <div class="field__input">
            <%= tdf.check_box :downloadable %>
            <div class="field__description"><%= t 'test_driver.instructor.descriptions.downloadable' %></div>
          </div>
        </div>
      </div>
      <h4 class="box__title"><%= t('test_driver.instructor.titles.test_driver_files') %></h4>
      <div class="box__content">
        <%= tdf.nested_fields_for :test_driver_files do |tdff| %>
          <div class="form__group">
            <div class="box__title textRight">
              <div class="box__title__smallText"><%= t 'test_driver.instructor.labels.remove_file' %> <%= tdff.check_box :_destroy %></div>
            </div>
            <div class="box__form">
              <div class="form__field">
                <div class="field__label"><%= tdff.label :name %></div>
                <div class="field__input">
                  <%= tdff.text_field :name %>
                  <div class="field__description"><%= t 'test_driver.instructor.descriptions.test_driver_file_name' %></div>
                </div>
              </div>
              <div class="form__field">
                <div class="field__label"><%= tdff.label :points %></div>
                <div class="field__input"><%= tdff.number_field :points, class: 'short' %></div>
              </div>
              <div class="form__field">
                <div class="field__label"><%= tdff.label :downloadable %></div>
                <div class="field__input">
                  <%= tdff.check_box :downloadable %>
                  <div class="field__description"><%= t 'test_driver.instructor.descriptions.downloadable' %></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="box__actions">
        <p class="textCenter"><%= tdf.add_nested_fields_link :test_driver_files, t('test_driver.instructor.buttons.add_test_driver_file'), class: 'button button--create button--block' %></p>
      </div>
    </div>
  </div>
  <div class="clearBoth"></div>
<% end %>
