<% title t('submission.titles.upload') %>
<% description t('submission.descriptions.upload') %>

<div class="box formWrapper">
  <h2 class="box__title"><%= t 'submission.labels.choose_file' %></h2>
  <%= form_for @submission, url: upload_submission_path, html: { multipart: true } do |f| %>
    <div class="formWrapper__field">
      <%= f.file_field :file %>
    </div>
    <div class="formWrapper__actions box__actions">
      <%= f.submit t('submission.buttons.upload') %> <%= link_to t('buttons.cancel'), root_path, class: 'button--cancel' %>
    </div>
  <% end %>

  <% if !@submission.errors.empty? %>
    <div class="alert alert-error">
      <ul>
        <% @submission.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
