<% title t('submission.student.titles.viewing_result') %>
<% description t('submission.student.descriptions.viewing_result') %>
<% back_path t('submission.student.buttons.go_back'), root_path %>

<div class="right right--seventy">
  <% if not @submission.graded %>
    <p class="message message--information"><%= t 'submission.student.messages.waiting_for_grade' %></p>
  <% elsif not @submission.grade_approved %>
    <p class="message message--warning"><%= t 'submission.student.messages.waiting_for_grade_approval' %></p>
  <% end %>

  <% if @submission.graded %>
    <% @submission.test_driver_results.each do |r| %>
      <div class="box">
        <h2 class="box__title">
          <div class="box__title__smallText right">
            <% if not r.success %><span class="errorText">(<%= t('submission.student.messages.driver_failed') %>)</span> <% end %>
            <%= t 'submission.student.values.grade', achieved: r.grade, maximum: r.test_driver.points %>
          </div>
          <%= File.basename r.test_driver.file.url %>
        </h2>
        <div class="box__content box__content--tabs">
          <ul class="tabs__nav">
            <li class="tabs__button"><%= t('submission.student.buttons.stdout') %></li>
            <li class="tabs__button"><%= t('submission.student.buttons.stderr') %></li>
          </ul>
          <div class="tabs__content">
            <% if r.output != '' %>
              <pre class="box__content__output"><%= r.output %></pre>
            <% else %>
              <div class="message message--warning"><%= t('submission.student.messages.no_stdout') %></div>
            <% end %>
          </div>
          <div class="tabs__content">
            <% if r.error != '' %>
              <pre class="box__content__output"><%= r.error %></pre>
            <% else %>
              <div class="message message--warning"><%= t('submission.student.messages.no_stderr') %></div>
            <% end %>
          </div>
          <div class="clearBoth"></div>
        </div>
        <% files = r.test_driver.test_driver_files %>
        <% if files.length > 0 %>
          <h3 class="box__title">Generated Files</h3>
          <div class="box__rows">
            <% files.each do |tdf| %>
              <% tdrf = r.get_files tdf %>
              <div class="box__row box__row--thirds">
                <div class="box__row__part"><%= tdf.name %></div>
                <div class="box__row__part"><%= t 'submission.student.values.grade', achieved: (not tdrf.nil?) ? tdrf.grade : 0, maximum: tdf.points %></div>
                <div class="box__row__part textRight">
                  <% if not tdrf.nil? %>
                    <% if tdrf.test_driver_file.downloadable %>
                      <%= link_to t('submission.student.buttons.download_generated_file'), download_result_file_path(tdrf), class: 'button button--small' %>
                    <% else %>
                      <span class="button button--disabled button--small"><%= t'submission.student.buttons.cannot_download' %></span>
                    <% end %>
                  <% else %>
                    <span class="button button--disabled button--small"><%= t'submission.student.buttons.not_generated' %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="left left--thirty">
  <div class="box box--dark">
    <h3 class="box__title"><%= t('submission.student.titles.submission_info') %></h3>
    <div class="box__content">
      <dl class="dataTable dataTable--keyValue">
        <dt><%= t 'submission.student.labels.grade' %></dt>
        <dd><%= t 'submission.student.values.grade', achieved: @submission.graded ? @submission.grade : 0, maximum: @submission.assessment.points %></dd>
        <dt><%= t 'submission.student.labels.upload_date' %></dt>
        <dd><%= l @submission.upload_date, format: :general %></dd>
      </dl>
      <p><%= link_to t('submission.student.buttons.download'), download_submission_path(@submission), class: 'button button--block' %></p>
    </div>
  </div>
</div>
<div class="clearBoth"></div>
