<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : 'Welcome' %> &mdash; Online Courses</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= content_for?(:header) ? yield(:header) : render('layouts/partials/header') %>

    <div class="wrapper">
      <% if content_for? :content %>
        <%= yield :content %>
      <% else %>
        <main class="primaryContent">
          <%= render 'layouts/partials/title' %>
          <%= yield %>
        </main>
      <% end %>
    </div>

    <%= content_for?(:footer) ? yield(:footer) : render('layouts/partials/footer') %>
  </body>
</html>
